boto3==1.34.149
httpx==0.27.0
google==3.0.0
google-auth==2.32.0
google-cloud==0.34.0
google-generativeai==0.7.2
grpcio==1.65.1
multiprocess==0.70.16
openai==1.40.1
pandas==2.2.2
pydantic==2.8.2
python-dotenv==1.0.1
requests==2.32.3
tiktoken==0.7.0
tqdm==4.66.4
uuid_utils==0.9.0
